.graph-button {
    display: block;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2rem;
    background-color: #555;
    color: #fff;
    margin: 0 5px 10px;
}

.graph-button:hover {
    background-color: #000;
}

.graph-button .fa {
    margin-right: 10px;
    background-color: #356;
}

.graph-button-play {
    text-align: center;
    font-size: 1.6rem;
    margin: 0 20px 20px;
    background-color: #070;
}

.graph-button-play:hover {
    background-color: #050;
}

.graph-button-play .fa {
    background-color: inherit;
}