#graph-editor {
    position: absolute;
    top: 0;
    right: 0;
    width: 85%;
    height: 50%;
    border-bottom: 1px solid #555;
    z-index: 5;
}

#graph-editor > h1 {
    background-color: #ccc;
    color: #777;
}

#graph-editor-panel {
    height: 100%;
    margin-left: 20px;
    z-index: 4;
    background-color: #eee;
    position: relative;
    cursor: crosshair;
}

#graph-editor-panel.point-selected, #graph-editor-panel.link-selected, #graph-editor-panel.tooltip-selected {
    cursor: not-allowed;
}
