.graph-line {
    height: 10px;
    margin: 0;
    position: absolute;
    z-index: 8;
}

.graph-line .graph-line-inner {
    /*width: 0;*/
    width: 100%;
    height: 2px;
    position: relative;
    top: 4px;
}

#graph-editor-panel .graph-line.active {
    cursor: move;
}

#graph-editor-panel .graph-line:hover {
    cursor: pointer;
}

#graph-editor-panel .graph-line:hover .graph-line-inner {
    filter: brightness(85%);
}

#graph-editor-panel .graph-line.active .graph-line-inner {
    filter: brightness(65%);
}

.graph-line.asdfasdfasdf .graph-line-inner {
    width: 100%;
}