#graph-visualization {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85%;
    height: 50%;
    z-index: 5;
}

#graph-visualization h1 {
    color: #888;
}

#graph-visualization-panel {
    margin-left: 20px;
    height: 100%;
    position: relative;
}

/*
 * Animations
 */

#graph-visualization-panel:not(.active) .graph-line-inner, #graph-visualization-panel:not(.active) .graph-dot, #graph-visualization-panel:not(.active) .graph-tooltip {
    transition: none !important;
}

/* Links */
#graph-visualization-panel .graph-line-animated .graph-line-inner {
    width: 0;
}

#graph-visualization-panel.active .graph-line-animated .graph-line-inner {
    width: 100%;
}

/* Points */
#graph-visualization-panel .graph-dot-animated {
    opacity: 0;
    transform: scale(0.5);
}

#graph-visualization-panel.active .graph-dot-animated {
    opacity: 1;
    transform: scale(1);
}

/* Tooltips */
#graph-visualization-panel .graph-tooltip-animated {
    opacity: 0;
    margin-top: -30px;
}

#graph-visualization-panel.active .graph-tooltip-animated {
    opacity: 1;
    margin-top: 0;
}
