#graph-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    border-right: 1px solid #000;
}

#graph-menu .graph-options, #graph-menu .graph-buttons {
    position: absolute;
    width: 100%;
}

#graph-menu .graph-buttons {
    bottom: 0;
}