.graph-dot {
    width: 18px;
    height: 18px;
    position: absolute;
    transition: opacity .2s, transform .2s;
    z-index: 10;

    /*opacity: 0;
    transform: scale(0.5);*/
}

.graph-dot:before {
    background-color: #79E0FF;
    border-radius: 50%;
    content: "";
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#graph-editor-panel .graph-dot:hover {
    cursor: pointer;
}

#graph-editor-panel .graph-dot:hover:before {
    background-color: #79B0CF;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
}

#graph-editor-panel .graph-dot.active {
    cursor: move;
}

#graph-editor-panel .graph-dot.active:before {
    background-color: #7990AF;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
}

.graph-dot.activeTrans {
    opacity: 1;
    transform: scale(1);
}