* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    color: #000;
    font-size: 12px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.none {
    font-style: italic;
    text-align: center;
}