* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

body {
    margin: 0;
    padding: 0;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.none {
    font-style: italic;
    text-align: center;
}

.title-menu {
    margin: 0;
    background-color: #356;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    padding: 2px 0;
    font-weight: normal;
    margin-bottom: 5px;
}

.title-menu .icon {
    float: right;
    margin-right: 5px;
}

.icon {
    cursor: pointer;
}

.preview-color {
    display: inline-block;
    width:15px;
    height:15px;
    vertical-align: middle;
    margin-right: 5px;
}