.graph-editor-toolbar-link {
    margin: 0 0 0px;
    font-size: 0.8rem;
    text-align: right;
    line-height: 15px;
}

.graph-editor-toolbar-link:last-child {
    margin-bottom: 10px;
}

.graph-editor-toolbar-color-input {
    width: 60px;
}